body,
html{
    font-family: 'Crete Round', sans-serif;
    background-color: rgb(241, 241, 241)
}


#header{
    width: 100%;
    background-color: var(--primarydark);
    transition: ease-out 0.2s;
}

#header .navbar-collapse{
    width: auto;
}

#header .img-fluid{
    max-height: 15vh;
    width: auto;
    margin-top: 2vh;
    margin-left: 0;  
}

#header .nav-link{
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 10px;
    border-right: 1px solid var(--secondarygray);
    line-height: 2px;
    font-size: 2.5vh;
    color: var(--primarylight);
    border-bottom: solid 4px transparent;

}

#header .nav-link:hover{
    color: var(--secondaryred);
    font-size: 2vh;
    cursor: pointer;
}
/*   SLIDER   */

#mainSlider .carousel-item{
    height: 100vh;
    padding: 0;
}