/*    Min WIDTH     */
@media(min-width: 992px){
    #header .nav-list{
        margin-left: 10px;
        margin-right: 10px;
    }
}


/*    Max MEDIUM    */
@media(max-width: 991.98px){
    #header .navbar-collapse{
        width: 100%;
    }
    #header .nav-link{
        border-right: 1px solid var(--secondarygray);
        line-height: 2px;
        font-size: 2.5vh;
        color: var(--primarydark);
        border-bottom: solid 4px transparent;

    }
}