body{
    font-family: 'Crete Round', serif;
}
.row{
    margin: 0;
}
.container{
    padding: 10vh 0 10vh 0;
}
p, li{
    color: #fff;
    font-size: 30px;
}
header, .navbar{
    background-color: rgba(0, 0, 0, 0.849);
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-nav{
    padding-right: 10vh;
    
}
.nav-link{
    border-right: 1px solid #9B9A9A;
    line-height: 2px;
}
#cs{
    width: 40vh;
    margin-top: 2vh;
    margin-left: 2vh;
}
.navbar-brand{
    padding: 0;
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}
.navbar-links a{
    color: #fff;
}
#contato-menu {
    border-right:none;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
    color: #fff;
    font-size: 2.5vh;
    margin-top: 10vh;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
        padding: 1rem .8rem;
        color:#e11c1c;
        font-size: 2vh;
        cursor: pointer;
}

/* Slider */
.container-fluid{
    padding: 0;
}
img{
    max-height: 980px;
}

/*#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 100vh;
}
#mainSlider .carousel-caption{
    top: 30%;
}
.carousel-indicators .active{
    background-color: #e11c1c;
}*/

/* Sobre nós */
#about-area{
    text-align: center;
    padding-bottom: 5vh;
    margin-bottom: 67px;
}
.img-fluid{
    width: 350px;
    height: 350px;
}
p{
    font-size: 2.3vh;
    color: #000;
    text-align: justify;
}
.main-title{
    color:#000;
    ;
    padding: 5vh 0 5vh 0;
    font-size: 6vh;
    text-align: center;
    padding-top: 10vh;
    text-transform: uppercase;
    font-weight: bold;
    
}
#img-quemsomos{
    align-items: center;
}
#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list i{
    color:#000;
    margin-right: 20px;
    font-size: 2.4vh;
    text-transform: uppercase;
    margin-top: 5px;
       
}
#about-list i::before{
    color:#000;
    margin-right: 20px;
    font-size: 2.4vh;
    color: #e11c1c;
}

/*Serviços*/

#about-service{
    margin-top: 5vh;
}

.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
    transition: .5s;
}
.service-box:hover > i, .service-box:hover > h4{
    color: #e11c1c;
    cursor: pointer;
}
.img-service{
    border-image: 10px solid #000;
    width: 350px;
    height: 350px;
}
/*Fale conosco - footer*/

#contact-area{
    text-align: center;
    padding-bottom: 10vh;
}

.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1 px solid #444;
}
.contact-box{
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    line-height: 24px;
    font-size: 24px;
    margin-bottom: 20px;
}
#contact-box .fas{
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px;
    
}
.contact-title{
    font-weight: bold;
    color:#e11c1c;
    margin-right: 5px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}
#msg-box p{
    font-size: 22px;
}
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea{
    margin-bottom: 7px;
    margin-top: 7px;
    border-radius: 5;
}
#contact-form .main-btn{
    width: 120px;
    height: 50px;
}
#contact-form .main-btn:hover{
    color: rgb(138, 145, 145);
}


/*Copyright*/

#copy-area{
    background-color: #f1f1f1;
}
#copy-area .container{
    padding: 10px 0;
    text-align: center;
}
#copy-area .container p{
    margin-bottom: 0;
}
#copy-area .container a{
    font-weight: bold;
    color: #444;
}
#copy-area .container a:hover{
    text-decoration: none;
    color: brown;
}
#copy-text{
    text-align: center;
    font-size: 2vh;
}
/*WhatsApp*/
.whatsapp {
    position: fixed;
    top: 80%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
}

/*Responsive*/

@media(max-width: 768px){
    .navbar{
        height: 100px;
    }
    #cs{
        width: 30vh;
        margin-top: 2vh;
        margin-left: 50%;   
    }
    .d-block{
        padding: 0;
        height: 450px;
    }
    .container{
        padding: 0;
        margin: 0;
    }
    .img-fluid{
        min-width: 100px;
    }
    .main-title{
        font-size: 30px;
        padding: 8vh 0 3vh 0;
        margin: 0 0 0 0;
    }
    #about-area{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #about-area .img-fluid{
        width: 200px;
        height: 200px;
    }
    #about-area p{
        text-align: justify;
        font-size: 14px;  
    }
    p, li{
        color: #000000;
        font-size: 15px;
    }
    #about-list i{
        color:#000;
        margin-right: 20px;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 5px;
           
    }
    .service-box{
        text-align: center;
    }
    .service-box h4{
        font-size: 18px;
        margin-bottom: 20px;
        color: #444;
        transition: .5s;
    }
    .img-service{
        width: 150px;
        height: 150px;
        padding: 0 0 0 0;
        margin: 0 0 10vh 0;
    }
    #contact-form .main-btn{
        width: 120px;
        height: 50px;
       
    }
    #copy-text{
        text-align: center;
        font-size: 1.5vh;
    }
}
@media(max-width: 425px){
   
    .navbar{
        height: 80px;
    }
    #cs{
        width: 30vh;
        margin-top: 2vh;
        margin-left: 50%;   
    }
    .d-block{
        padding: 0;
        height: 320px;
    }
    .container{
        padding: 0;
        margin: 0;
    }
    .img-fluid{
        min-width: 100px;
    }
    .main-title{
        font-size: 20px;
        padding: 8vh 0 3vh 0;
        margin: 0 0 0 0;
    }
    #about-area{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #about-area .img-fluid{
       display: none;
    }
    #about-area p{
        margin: 0 10px 0 10px;
        text-align: justify;
        font-size: 14px;  
    }
    p, li{
        color: #000000;
        font-size: 15px;
    }
    .service-box{
        text-align: center;
    }
    .service-box h4{
        font-size: 14px;
        margin-bottom: 20px;
        color: #444;
        transition: .5s;
    }
    .img-service{
        width: 150px;
        height: 150px;
        padding: 0 0 0 0;
        margin: 0 0 10vh 0;
    }
    #contact-form .main-btn{
        width: 120px;
        height: 50px;
       
    }
}
