body{
    font-family: 'Crete Round', serif;
}
.row{
    margin: 0;
}
.container{
    padding: 70px 0;
}
p, li{
    color: #fff;
    font-size: 30px;
}
header, .navbar{
    background-color: rgba(0, 0, 0, 0.849);
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-nav{
    padding-right: 10vh;
    
}
.nav-link{
    border-right: 1px solid #9B9A9A;
    line-height: 2px;
}
#cs{
    width: 40vh;
    margin-top: 2vh;
    margin-left: 2vh;
}
.navbar-brand{
    padding: 0;
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
}
.navbar-links a{
    color: #fff;
}
#contato-menu {
    border-right:none;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
    color: #fff;
    font-size: 2.5vh;
    margin-top: 10vh;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
        padding: 1rem .8rem;
        color:#e11c1c;
        font-size: 2vh;
        cursor: pointer;
}

/* Slider */
.container-fluid{
    padding: 0;
}
#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 100vh;
}
#mainSlider .carousel-caption{
    top: 30%;
}
.carousel-indicators .active{
    background-color: #e11c1c;
}
/* Sobre nós */
#about-area{
    background-color: #fff;
    margin-top: 10vh;
}
.img-fluid{
    border-image: 10px solid #000;
    width: 320px;
    height: 320px;
    position: absolute;
    overflow: hidden;
    margin-left: 8%;
}
p{
    font-size: 2.8vh;
    color: #000;
    text-align: justify;
}
.main-title{
    color:#000;
    margin: 0 0 65px 0;
    font-size: 8vh;
    text-align: center;
    padding-top: 10vh;
}
.main-title::after{
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}
.about-title{
    font-size: 17px;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}
#about-list{
    list-style: none;
    padding-left: 0;
}
#about-list li{
    line-height: 30px;
    color: #e11c1c;
}
#about-list i{
    color:#000;
    margin-right: 20px;
    font-size: 2.4vh;
}

/*Serviços*/

.service-box{
    text-align: center;
    margin-bottom: 50px;
}
.service-box i, .service-box h4{
    transition: .5s;
}
.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}
.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}
.service-box:hover > i, .service-box:hover > h4{
    color: #e11c1c;
    cursor: pointer;
}
.img-service{
    border-image: 10px solid #000;
    width: 250px;
    height: 250px;
}
/*Fale conosco - footer*/

#contact-area{
    text-align: center;
}
.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1 px solid #444;
}
.contact-box{
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    line-height: 24px;
    font-size: 24px;
    margin-bottom: 20px;
}
#contact-box .fas{
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px;
    
}
.contact-title{
    font-weight: bold;
    color:#e11c1c;
    margin-right: 5px;
    padding-bottom: 60px;
    margin-bottom: 60px;
}
#msg-box p{
    font-size: 22px;
}
#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea{
    margin-bottom: 7px;
    margin-top: 7px;
    border-radius: 5;
}
#contact-form .main-btn{
    width: 120px;
    height: 50px;
}
#contact-form .main-btn:hover{
    color: rgb(138, 145, 145);
}


/*Copyright*/

#copy-area{
    background-color: #f1f1f1;
}
#copy-area .container{
    padding: 10px 0;
    text-align: center;
}
#copy-area .container p{
    margin-bottom: 0;
}
#copy-area .container a{
    font-weight: bold;
    color: #444;
}
#copy-area .container a:hover{
    text-decoration: none;
    color: brown;
}
#copy-text{
    text-align: center;
    font-size: 2vh;
}

/*Responsive*/

@media(max-width: 768px){
    /*geral*/
    .container{
        padding: 20px 0;
    }
    /*slider*/
    #mainSlider .carousel-inner, #mainSlider .carousel-item{
        height: auto;
    }
    #mainSlider .carousel-caption h2{
        font-size: 28px;
    }
    #mainSlider .carousel-caption p{
        font-size: 18px;
        margin-bottom: 10%;
    }
    .carousel-caption{
        left: 10%;
        right: 10%;
    }
    /*About*/
    #about-area img{
        margin-top: 100px;
    }
}
@media(max-width: 425px){
    /*slider*/
    #mainSlider{
        margin-top: 90px;
    }
    #mainSlider .carousel-caption{
        top: 5%;
    }
    #mainSlider .carousel-caption h2{
        font-size: 18px;
        margin-bottom: 40px;
    }
    #mainSlider .carousel-caption p{
        display: none;
    }
    .carousel-caption .main-btn{
        font-size: 14px;
    }
    /*About*/
    .main-title{
        font-size: 30px;
    }
    #about-area img{
        margin-top: 0;
        margin-bottom: 30px;
    }
}